.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh; /* Full screen height */
  background-color: #f5f7fa; /* Optional background */
  padding: 20px;
}

#login-form{
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 380px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 40px 0px;
    border: 0.5px solid #5c2bd71e;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.079);
}
.login-logo{
    font-family: "Playwrite AU VIC", cursive;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(21, 11, 63);
    font-size: 20px;
}
h4{
    color: #0a192f;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
}
#login-form input{
    position: relative;
    left: 20px;
    background-color: #ffffff;
    color: rgb(95, 95, 95);
    margin: 4px;
    border: 1px solid #00000051;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    width: 290px;
}
#login-form input:focus{
    outline: none;
}

#login-form button{
    background-color: #0a192f;
    color: white;
    position: relative;
    left: 20%;
    width: 55%;
    padding: 12px 8px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    
}
::placeholder{
    color: rgba(0, 0, 0, 0.385);
}
#login-form button:hover{
    background-color: #173461;
}
#login-form p{
    color: #0a192f;
}
#login-form p span a{
    text-decoration: none;
    font-weight: 500;
}
.show-icon{
    position: relative;
    left: 20px;
}

@media only screen and (max-width: 600px) {
    #login-form{
        width: 90%;
    }
    #login-form input{
        position: relative;
        left: 5px;
        width: 275px;
    }
    .phone-inp{
        position: relative;
        left: 4px;
    }
   
    #login-form .show-icon{
        position: relative;
        left: 7px;
    }
    
}